* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  text-align-last: center;
}

.nav {
  font-size: 0;
}

.link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.nav,
.nav-item {
  display: inline-block;
}

.nav-item {
  position: relative;
  left: 0;
  right: 0;
}

.nav-item,
.sub-item,
.subsubitem {
  border: rgb(22, 85, 50) 1px solid;
}

.nav li {
  background-color: mediumseagreen;
  font-size: 1rem;
}

.nav li:hover {
  background-color: rgb(22, 85, 50);
}

.sub-list {
  display: none;
  position: absolute;
  left: -1.5px;
  right: -2px;
}

.nav-item:hover > .sub-list, .sub-item:hover > .subsub {
  display: block;
}

.subsub {
  display: none;
  position: absolute;
  left: 100%;
  top: 44px;
}
